body {
    background-color: black;
}

#backgroundVideo {
    position: fixed;
    height: 100pv;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progress {
    position: fixed;
    width: 90%;
    margin-top: 38%;
}

#main {
    display: flex;
    flex: 10;
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    position: fixed;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#buttons {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    color: white;
    width: 100%;
}

#changeVideo {
    margin-left: 2%;
}
